<div class="card">
  <div class="card-header">
    <h5>{{ isEdit ? 'Edit Category' : 'Create Category' }}</h5>
  </div>

  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="row">
        <div class="col-md-6 mt-2">
          <label for="category-name">Name</label>
          <span> * </span>

          <input
            type="text"
            id="category-name"
            class="form-control"
            formControlName="name"
            autofocus
          />
        </div>

        <div class="col-md-6 mt-2">
          <label for="category-code">Code</label>

          <input type="text" id="category-code" class="form-control" formControlName="code" />
        </div>

        <div class="col-12 mt-2">
          <label for="category-description">Description</label>

          <textarea
            id="category-description"
            rows="3"
            class="form-control"
            formControlName="description"
          >
          </textarea>
        </div>

        <div class="col-md-6 mt-2">
          <label for="category-slug">Slug</label>

          <input type="text" id="category-slug" class="form-control" formControlName="slug" />
        </div>

        <div class="col-md-6 mt-2">
          <label for="category-imageUrl">Image Url</label>

          <input
            type="text"
            id="category-imageUrl"
            class="form-control"
            formControlName="imageUrl"
          />
        </div>

        <div class="col-md-6 mt-2">
          <label for="category-seoTitle">Seo Title</label>
          <input
            type="text"
            id="category-seoTitle"
            class="form-control"
            formControlName="seoTitle"
          />
        </div>

        <div class="col-md-6 mt-2">
          <label for="category-displayOrder"> Display Order </label>

          <input
            type="number"
            id="category-displayOrder"
            class="form-control"
            formControlName="displayOrder"
          />
        </div>

        <div class="col-12 mt-2">
          <label for="category-seoDescription"> SEO Description </label>

          <textarea
            id="category-seoDescription"
            rows="3"
            class="form-control"
            formControlName="seoDescription"
          >
          </textarea>
        </div>

        <div class="col-12 mt-3">
          <div class="form-check">
            <input
              type="checkbox"
              id="category-isActive"
              class="form-check-input"
              formControlName="isActive"
            />

            <label for="category-isActive" class="form-check-label"> Active </label>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="card-footer text-end">
    <button class="btn btn-secondary me-2" (click)="back()">Back</button>
    <button class="btn btn-primary me-2" (click)="save()" [disabled]="form.invalid">Save</button>
    <button class="btn btn-primary me-2" (click)="addNew()" [disabled]="form.invalid">
      Add New
    </button>

    <button class="btn btn-primary me-2" (click)="openBookSelector()">Add Book</button>

    <app-category-book-selector
      [visible]="isOpenBook"
      [books]="book.items"
      (close)="isOpenBook = false"
      (selected)="handleBooksSelected($event)"
    >
    </app-category-book-selector>
  </div>
</div>
