<div class="container mt-4">
  <div class="card shadow rounded">
    <div class="card-header bg-primary text-white">
      <h4><i class="fa fa-book me-2"></i>Book Detail</h4>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">{{ book.name }}</dd>
        <dt class="col-sm-3">Type</dt>
        <dd class="col-sm-9">{{ '::Enum:BookType.' + book.type | abpLocalization }}</dd>
        <!-- <dd class="col-sm-9">{{ getBookTypeName(book.type) | abpLocalization }}</dd> -->
        <dt class="col-sm-3">Price</dt>
        <dd class="col-sm-9">{{ book.price }}</dd>
        <dt class="col-sm-3">Publish Date</dt>
        <dd class="col-sm-9">{{ book.publishDate }}</dd>
        <dt class="col-sm-3">Created At</dt>
        <dd class="col-sm-9">{{ book.creationTime }}</dd>
        <dt class="col-sm-3">Last Modified</dt>
        <dd class="col-sm-9">{{ book.lastModificationTime }}</dd>
      </dl>
    </div>
  </div>
</div>
